*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;;
}
body{
    background-color: #FF7433;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: white;
    box-shadow: 8px 8px 8px rgb(0,0,0,0.5);
}
.navigation{
    list-style: none;
}
.Breadcrumbs{
    margin-top:2rem;
}
header .logo {
    cursor: pointer;
}
.navigation li{
    display: inline-block;
    padding: 0 20px;
}
.navigation li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navigation li a:hover {
    color: #FF7433;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section ol {
    margin: auto;
}
section ol li{
    display: inline-block;
    margin: 0 30px;
    border-radius: 5px;
    background-color: white;
    padding: 2px 4px;
}
section ol li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
} 
.introduction{
    display: block;
    align-items: center;
    margin: 3rem 5rem;
    padding: 0.3rem;
    padding-bottom: 2rem;

}
.introduction h1{
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}
.introduction p{
    text-align: center;
    color: white;
}
footer{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
}
.videoInformations{
    display: inline-block;
    background-color: white;
    margin: 2%;
    box-shadow: 6px 7px 8px rgb(0,0,0,0.5);
}
footer .imgVideo{
    width: 250px;
}
.videoInformations ul {
    list-style: none;
    margin:  1em auto;
    text-align: center;
    line-height: 25px;
}
.videoTitle{
    font-weight: bold;
    font-size: x-large;
}
.rrpVideo{
    color: gray;
}
.saving{
    font-weight: bold;
    color: greenyellow;
}
@media screen and (max-width: 760px){
header{
    text-align: center;
    display: block;
}
.logo{
    margin: auto;
    margin-bottom: 1em;
}
.navigation{
    width: 80%;
    display: inline;
}
.navigation li {
    padding: 5px;
    font-size: 13px;
}
section ol li{
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    padding: 2px 4px;
}
}
